{% extends 'base/logged_in.html.j2' %}

{% block body %}

<div>
  <div
    class="bg-white bg-opacity-90 max-w-[1250px] mx-auto border-black border rounded p-4 flex items-center mb-7 justify-between">
    <h1 class="text-blue-900 font-bold mr-4 text-2xl text-center">{{ _('Service list') }}
      <form id="search_form" method="get" action="">
        {{ search_form.search(class_="text-black font-medium rounded-lg text-sm px-5 py-1.5 border-black border
        placeholder:text-black") }}
      </form>
    </h1>
    <a href="{{ url_for('.servers.newserver') }}">
      <button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5">{{ _('New service') }}</button>
    </a>
  </div>
</div>
<div id="card-list" class="flex justify-center items-center">
  {% for eachserver in serverlist %}
  <article>
    <a href="{{ url_for( '.servers.edit' , id=eachserver.id|int ) }}">
      <h2 class="p-2">{{ eachserver.name }}</h2>
      <div class="flex">
        <div class="w-8/12">
          <span class="text-red-500 text-xl"><i class="fa fa-times"></i> {{ _('Off') }}</span>
          <br />
          <br />
          <button class="bg-green-400 hover:bg-green-600 p-2 rounded text-white status-off status-button" data-id="{{ eachserver.id }}">
            <i class="fa fa-power-off"></i>
            {{ _('Start') }}
          </button>
        </div>
        <div class="w-4/12 flex justify-center items-center image-ajax" data-src="{{ eachserver.image }}" data-alt="{{ eachserver.name }}">
          <div class="text-center">
            <div role="status">
              <svg aria-hidden="true"
                class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor" />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
  <article class="new items-center justify-center flex">
    <a href="{{ url_for('.servers.newserver') }}">
      <h2>+</h2>
    </a>
  </article>
</div>

<script>
  const buttons = document.querySelectorAll('.status-button');

  buttons.forEach(button => {
    button.addEventListener('click', () => {
      event.preventDefault();

      if (button.classList.contains('status-on')) {
        turnOff(button);
      } else if (button.classList.contains('status-off')) {
        turnOn(button);
      }
    });
  });

  function turnOn(button) {
    const url = `/server/start/${button.dataset.id}`;

    fetch(url)
      .then(response => {
        if (response.ok) {
          button.innerHTML = '<i class="fa fa-power-off"></i> {{ _('Shutdown') }}';
          button.classList.replace('bg-green-400', 'bg-red-400');
          button.classList.replace('hover:bg-green-600', 'hover:bg-red-600');
          button.classList.remove('status-off');
          button.classList.add('status-on');
        } else {
          warningStatus(button);
        }
      })
      .catch(error => {
        console.log(error);
        warningStatus(button);
      });
  }

  function turnOff(button) {
    const url = `/server/stop/${button.dataset.id}`;

    fetch(url)
      .then(response => {
        if (response.ok) {
          button.innerHTML = '<i class="fa fa-power-off"></i> {{ _('Start') }}';
          button.classList.replace('bg-red-400', 'bg-green-400');
          button.classList.replace('hover:bg-red-600', 'hover:bg-green-600');
          button.classList.remove('status-on');
          button.classList.add('status-off');
        } else {
          warningStatus(button);
        }
      })
      .catch(error => {
        console.log(error);
        warningStatus(button);
      });
  }

  function warningStatus(button) {
    button.innerHTML = 'Warning';
    button.classList.replace('bg-green-400', 'bg-orange-400');
    button.classList.replace('hover:bg-green-600', 'hover:bg-orange-600');
  }
</script>



<script>
  const imgParent = document.querySelectorAll('.image-ajax');
  imgParent.forEach(img => {

    const controller = new AbortController();
    const signal = controller.signal;
    const timeoutId = setTimeout(() => {
      controller.abort();
    }, 3000);

    fetch(img.dataset.src, {signal})
      .then(response => response.blob())
      .then(blob => {
        const reader = new FileReader();
        reader.readAsDataURL(blob);
        reader.onloadend = () => {
          img.innerHTML = `<img src="${reader.result}" alt="${img.dataset.alt}">`;
        };
      })
      .catch(error => {
          img.innerHTML = `<img src="{{ url_for('static', filename='images/no-server-placeholder.png') }}">`;
      })
      .finally(() => {
        clearTimeout(timeoutId);
      });
  });
</script>
{% endblock %}