{% extends 'base/logged_in.html.j2' %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% with
  h1_text=_('Statistics'),
  left_button_hide=true,
  search_form_hide=true
%}
  {% include 'includes/title.html.j2' %}
{% endwith %}

{% for eachmonitor in monitors %}

  <article class="bg-white w-full max-w-[1250px] border-black border-2 rounded-md p-2 my-4 mx-auto md:p-7">
    <h2 class="text-2xl font-bold text-gray-500">{{ eachmonitor.title }}</h2>
    <canvas id="monitor_{{ eachmonitor.key }}"></canvas>
  </article>
  <script>
    var x_axis = {{ eachmonitor.x_axis }};
    var y_axis = {{ eachmonitor.y_axis }};

    var ctx = document.getElementById('monitor_{{ eachmonitor.key }}').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: x_axis,
          datasets: [{
            label: "{{ eachmonitor.label }}",
            data: y_axis
          }]
        },
        options: {}
    });
  </script>

{% endfor %}
{% endblock %}
