{% extends 'base/logged_in.html.j2' %}

{% block body %}

<section class="py-2">
<div class="w-full bg-slate-400 bg-opacity-90 lg:w-8/12 mx-auto mt-6">
<form method="POST" action="{{ url_for('.userslist')+'/edit/'+user.id|string }}">
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
    <div class="flex items-center justify-between rounded-t bg-white mb-0 px-6 py-6">
      <h6 class="text-blueGray-700 text-xl font-bold">Edit User</h6>
      <input type="submit" value="Save" class="hover:cursor-pointer relative text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        User Information
      </h6>
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label for="name" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
              Name
            </label>
            <input id="name" name="name" value="{{ user.name }}" type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              placeholder="Taylor Swift">
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label for="email" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
              Email address
            </label>
            <input type="email" id="email" name="email" value="{{ user.email }}"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              placeholder="user123@domain.com">
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label for="password" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
              Password
            </label>
            <input type="password" id="password" name="password"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4" style="margin-top:1rem">
          <div class="relative w-full mb-3">
            <label for="password_confirm" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
              Confirm password
            </label>
            <input type="password" id="password_confirm"" name="password_confirm""
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
              <div id="passwordErrorConf" class="text-red-600 text-sm">
                Passwords do not match<br>
              </div>
          </div>
        </div>
        <div id="passwordError" class="text-red-600 text-sm">
        - Password must be at least 8 characters long<br>
        - Password must contain at least one uppercase letter<br>
        - Password must contain at least one lowercase letter<br>
        - Password must contain at least one number<br>
        - Password must contain at least one special character (!@#$%^&*()_+)
        </div>
        <div style="margin:2rem">
          <label for="admin">Admin:</label>
            <input type="checkbox" id="admin" name="admin" {% if user.admin %}checked{% endif %}/><br>
        </div>
        <div style="margin:2rem">
          <label for="active">Active:</label>
            <input type="checkbox" id="active" name="active" {% if user.active %}checked{% endif %}/><br>
        </div>
      </div>
</form>
<script class="text-green-600" src="{{ url_for('static', filename='js/register_check.js') }}"></script>
</div>
</div>
</div>
</section>

{% endblock %}
