{% extends 'base/logged_out.html.j2' %}

{% block width %}sm:max-w-3xl{% endblock %}

{% block body %}

<!-- <img src="images/navlab_logo.svg" alt="NavLab Logo" class=""/> -->
<h1 class="text-lp-4 text-center text-xl font-bold leading-tight tracking-tight md:text-2xl">
    Register your account
</h1>
{% if email_taken %}
  <h4 class="text-center font-bold text-red-800">
    Email already taken. Please try another or <a href="{{ url_for('.login') }}" class="text-red-600 italic underline hover:text-red-300">log in</a>.
  </h4>
{% endif %}
<form id="register_form" class="space-y-4 md:space-y-6" method="post" action="">
  {{ form.hidden_tag() }}
  <div>
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
    {{ form.name(class_="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5") }}
  </div>
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
    {{ form.email(class_="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5") }}
  </div>
  <div>
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
    {{ form.password(class_="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$") }}
    <div id="passwordError" class="text-red-600 text-sm">
        - Password must be at least 8 characters long<br>
        - Password must contain at least one uppercase letter<br>
        - Password must contain at least one lowercase letter<br>
        - Password must contain at least one number<br>
        - Password must contain at least one special character (!@#$%^&*()_+)
    </div>
  </div>
  <div>
    <label for="confirmation_password"
        class="block mb-2 text-sm font-medium text-gray-900">Confirmation Password</label>
    {{ form.password_confirm(class_="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$") }}
    <div id="passwordErrorConf" class="text-red-600 text-sm">
        Passwords do not match<br>
    </div>
  </div>
  <div>
    <label class="block mb-2 text-sm font-medium text-gray-900">Language: </label>
    <input class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" name="language" id="language" list="lan" type="text" pattern="English|Catalan" title="Language must be English or Catalan" required="required"/>
    <datalist id="lan">
      <option value="English">
      <option value="Catalan">
    </datalist>
  </div>

  <div class="flex items-center justify-center">
    {{ form.submit(class_="bg-lp-2 border-2 border-black w-full text-lp-4 hover:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-4 focus:outline-none focus:ring-primary-300") }}
  </div>
  <p class="text-sm font-light text-gray-500 text-center">
      Already have an account? <a href="{{ url_for('.login') }}" class="text-lp-4 font-medium text-primary-600 hover:underline">Log in</a>
  </p>
</form>

<script class="text-green-600" src="{{ url_for('static', filename='js/register_check.js') }}"></script>

{% endblock %}