<div class="-z-50 fixed top-0 w-full h-full overflow-hidden bg-blue-200">

  <div class="-z-10 fixed bottom-0 w-full h-[6%] bg-[#f6f6f6]"></div>
  <img class="-z-10 fixed bottom-[5%] w-full animate-wave1 print:hidden"
       src="{{ url_for('static', filename='background_images/wave1.svg') }}"
       alt="Background image 1"/>

  <div class="-z-20 fixed bottom-[5%] w-full h-[16%] bg-[#d6e4f0]"></div>
  <img class="-z-20 fixed bottom-[20%] w-full animate-wave2 print:hidden"
       src="{{ url_for('static', filename='background_images/wave2.svg') }}"
       alt="Background image 2"/>

  <div class="-z-30 fixed bottom-[20%] w-full h-[26%] bg-[#1e56a0]"></div>
  <img class="-z-30 fixed bottom-[45%] w-full animate-wave3 print:hidden"
       src="{{ url_for('static', filename='background_images/wave3.svg') }}"
       alt="Background image 3"/>

  <div class="-z-40 fixed bottom-[45%] w-full h-[21%] bg-[#163172]"></div>
  <img class="-z-40 fixed bottom-[65%] w-full animate-wave4 print:hidden"
       src="{{ url_for('static', filename='background_images/wave4.svg') }}"
       alt="Background image 4"/>

</div>
