<footer>
  <span>
    &copy; 2023 <a href="#">iTIC</a>. All Rights Reserved.
  </span>
  <ul>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</footer>
