<footer>
  <span>
    &copy; 2023 <a href="#">iTIC</a>. {{ _('All Rights Reserved') }}.
  </span>
  <ul>
    <li>
      <a href="#">{{ _('About') }}</a>
    </li>
    <li>
      <a href="#">{{ _('Privacy Policy') }}</a>
    </li>
    <li>
      <a href="#">{{ _('Contact') }}</a>
    </li>
  </ul>
</footer>
