<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {# <script src="https://cdn.tailwindcss.com"></script> #}
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% if title %}
    <title>{{ title }} | Navlab</title>
  {% else %}
    <title>NavLab</title>
  {% endif %}
</head>
