<header>
  <p>
    <a href="/">
      <img class="inline" width="200px" src="{{ url_for('static', filename='navlab_logo.svg') }}" alt="NavLab Logo"/>
    </a>
  </p>
  <nav class="flex bg-transparent px-2 py-2.5">
    <div class="flex flex-wrap items-center justify-between mx-auto">
      <div class="items-center justify-between flex flex-wrap w-auto order-1">
        <ul class="flex p-4 flex-row space-x-8 mt-0 text-sm font-medium border-0">
          <li>
            <a href="{{ url_for('main.dashboard') }}"
              class="block py-2 pl-3 pr-2 bg-transparent text-blue-700"
              aria-current="page">
              {{ _('widgets.navbar.dashboard') }}
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.users.userslist') }}"
              class="block py-2 pl-3 pr-2 bg-transparent text-black">
              {{ _('widgets.navbar.monitoring') }}
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.users.userslist') }}"
              class="block py-2 pl-3 pr-2 bg-transparent text-black">
              {{ _('widgets.navbar.profile') }}
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.users.userslist') }}"
              class="block py-2 pl-3 pr-2 bg-transparent text-black">
              {{ _('widgets.navbar.users') }}
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.users.logout') }}"
              class="block py-2 pl-3 pr-2 bg-transparent text-black">
              {{ _('widgets.navbar.logout') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
